<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel='icon' href='{{ icon }}' type='image/x-icon' />
    <title>{{ pageTitle }}</title>

    <meta property="og:title" content='{{ previewCardTitle }}'/>
    <meta property="og:url" content='{{ previewCardUrl }}'/>
    <meta property="og:type" content='{{ previewCardWebsite }}'/>
    <meta property="og:description" content='{{ previewCardDescription }}'/> 
    <meta property="og:image" content='{{ previewCardImage }}'/>

    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>

    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>

    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>

    <!-- bootstrap css-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<!-- Style -->
<style>
    @import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


    body {
        font-family: 'Poppins', sans-serif;
    }

    /*
#sidebar ul li a:hover { background: rgb(6, 255, 193); color: rgb(247, 1, 255); } `;
*/

    p {
        font-family: 'Poppins', sans-serif;
        font-size: 1.1em;
        font-weight: 300;
        line-height: 1.7em;
        color: #999;
    }

    .btn-info {
        color: #fff;
        background-color: #b81717;
        border-color: #52b817;
    }

    a,
    a:hover,
    a:focus {
        color: inherit;
        text-decoration: none;
        transition: all 0.3s;
    }

    .navbar {
        /*
    padding: 15px 10px;
    margin-right: 77px;
    */
        /* background: rgb(11, 223, 212); */
        border: none;
        border-radius: 0;
        margin-bottom: 40px;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
        margin-left: 11px
    }

    .navbar-btn {
        box-shadow: none;
        outline: none !important;
        border: none;
    }

    .line {
        width: 100%;
        height: 1px;
        border-bottom: 1px dashed #ddd;
        margin: 40px 0;
    }

    /* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

    .wrapper {
        display: flex;
        width: 100%;
        align-items: stretch;
    }

    #sidebar {
        min-width: 250px;
        max-width: 250px;
        /*  background: #63c23e; NAVBAR BACKGROUND */
        color: rgb(0, 0, 0);
        transition: all 0.3s;
    }

    #sidebar.active {
        margin-left: -250px;
    }

    #sidebar .sidebar-header {
        display: inline-flex;
        padding: 20px;
        /* background: #6d7fcc; */
        position: relative;
        width: 100%;
    }

    #sidebar ul.components {
        /* padding: 20px 0; */
        /* border-bottom: 1px solid #47748b; */
    }

    #sidebar ul p {
        color: #fff;
        padding: 10px;
    }

    #sidebar ul li a {
        padding: 10px;
        font-size: 1.1em;
        display: block;
    }

    a[data-toggle="collapse"] {
        position: relative;
    }

    .dropdown-toggle::after {
        display: block;
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
    }

    ul ul a {
        font-size: 0.9em !important;
        padding-left: 30px !important;
    }

    ul.CTAs {
        padding: 20px;
    }

    ul.CTAs a {
        text-align: center;
        font-size: 0.9em !important;
        display: block;
        border-radius: 5px;
        margin-bottom: 5px;
    }

    /* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

    #content {
        width: 100%;
        padding: 20px;
        min-height: 100vh;
        transition: all 0.3s;
    }

    /* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

    @media (max-width: 768px) {
        #sidebar {
            margin-left: -250px;
        }

        #sidebar.active {
            margin-left: 0;
        }

        #sidebarCollapse span {
            color: pink display: inline;
        }
    }

    #imageModal {
        z-index: 3;
    }

    /* Sidebar expand/collapse button */
    #sidebarCollapse {
        position: fixed;
        z-index: 2;

        margin-left: 84%;
        box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, .3);
        border: none;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        cursor: pointer;
        position: absolute;
    }

    /* Bottom of sidebar image stuff */
    .responsive {
        width: 90%;
        bottom: 20px;
        margin-left: 5%;
        margin-right: 5%;
    }

    /* image footer color text center */
    .sidebar-footer {
        text-align: center;
        font-size: 1.1rem;
        /*font-family:'Consolas' */
    }

    /* image footer color boxes */
    .colorBox {
        /*float: left;*/
        width: 20px;
        height: 20px;
        margin: 5px;
        border: 1px solid rgba(0, 0, 0, .2);
        vertical-align: middle;
        display: inline-block;
    }
</style>

<!-- Image Source Popup Modal -->
<div id="imageModal" class="modal">

    <!-- Modal Close Button -->
    <span class="close">×</span>

    <!-- Img Source -->
    <div style='text-align:center; color:white;'>
        <a target="_blank" href='{{colorsObj.imgSrcUrl}}'>{{colorsObj.imgSrcUrl}}</a>
    </div>
    
    <!-- YouTube vid (if possible)
    {{colorsObj.imgListen}}
    {{#if colorsObj.imgListen}}
    <iframe style="display:block; display: block; margin-right: auto; margin-left: auto;" width="420" height="345" src="https://www.youtube.com/embed/wNFaAn-AkPc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>  
    {{/if}} -->

    <!-- Modal Content (The Image) -->
    <img class="modal-content" id="img01" src="{{imgPath}}">
    
</div>

<style>
    /* Style the Image Used to Trigger the Modal */
    #colorImageDisplay {
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;
    }

    #colorImageDisplay:hover {
        opacity: 0.7;
    }

    /* The Modal (background) */
    .modal {
        display: none;
        /* Hidden by default */
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Sit on top */
        padding-top: 100px;
        /* Location of the box */
        left: 0;
        top: 0;
        width: 100%;
        /* Full width */
        height: 100%;
        /* Full height */
        overflow: auto;
        /* Enable scroll if needed */
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.9);
        /* Black w/ opacity */
    }

    /* Modal Content (Image) */
    .modal-content {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
    }

    /* Caption of Modal Image (Image Text) - Same Width as the Image */
    #caption {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
        text-align: center;
        color: #ccc;
        padding: 10px 0;
        height: 150px;
    }

    /* Add Animation - Zoom in the Modal */
    .modal-content,
    #caption {
        animation-name: zoom;
        animation-duration: 0.6s;
    }

    @keyframes zoom {
        from {
            transform: scale(0)
        }

        to {
            transform: scale(1)
        }
    }

    /* The Close Button */
    .close {
        position: absolute;
        top: 15px;
        right: 35px;
        color: #f1f1f1;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;
    }

    .close:hover,
    .close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }

    /* 100% Image Width on Smaller Screens */
    @media only screen and (max-width: 700px) {
        .modal-content {
            width: 100%;
        }
    }
</style>

<!-- Page Content -->
<div class="wrapper" class="toggled">

    <!-- Sidebar -->
    <nav id="sidebar" class='sidebarStyle' style='{{#colorsObj.cssClassElements.sidebarStyle }} {{attribute}}:{{value}};{{/colorsObj.cssClassElements.sidebarStyle}}'>
  
        <!-- sidenav top title -->
        <div id='sidebarTop' class="sidebar-header sidebarHeaderStyle" style='{{#colorsObj.cssClassElements.sidebarHeaderStyle }} {{attribute}}:{{value}};{{/colorsObj.cssClassElements.sidebarHeaderStyle}}'>
            <!-- sidebar top title text -->
            <h3 class='sidebarHeaderText' style='{{#colorsObj.cssClassElements.sidebarHeaderText }} {{attribute}}:{{value}};{{/colorsObj.cssClassElements.sidebarHeaderText}}' style='font-weight: bold; text-size:12px '><strong>Martin Barker</strong>
            </h3>
            <!-- sidebar expand/collapse button -->
            <button id='sidebarCollapse'>
                <img src="https://img.icons8.com/ios-filled/24/000000/menu.png" />
            </button>
        </div>

        <style>
            .dropdown-toggle[aria-expanded="true"]:after {
                transform: rotate(180deg);
            }

            /*for animation*/
            .dropdown-toggle:after {
                transition: 0.4s;
            }
        </style>
        <!-- sidebar list of items -->     
        <ul class="list-unstyled components sideBarOption sidebarItemsStyle" style='{{#colorsObj.cssClassElements.sidebarItemsStyle }} {{attribute}}:{{value}};{{/colorsObj.cssClassElements.sidebarItemsStyle}}'>
            <!-- about page -->
            <li>
                <a  {{#ifEquals about 'active'}} class='sidebarActiveItem' style='{{#colorsObj.cssClassElements.sidebarActiveItem }} {{attribute}}:{{value}};{{/colorsObj.cssClassElements.sidebarActiveItem}}'
                    {{/ifEquals}} href="/" class='navbarItem'>About
                </a>
            </li>
            <!-- projects dropdown -->
            <li>
                <a href="#projectsSubmenu" data-toggle="collapse" class="dropdown-toggle"
                    {{#ifEquals projects 'active'}} aria-expanded="true" {{/ifEquals}} {{#ifEquals projects null}}
                    aria-expanded="false" {{/ifEquals}}>Projects</a>

                <ul class="collapse list-unstyled 
                {{#ifEquals projects 'active'}}
                    show
                {{/ifEquals}} 
                " id="projectsSubmenu">
                    <!-- tagger.site -->
                    <li>
                        <a {{#ifEquals tagger 'active'}} class='sidebarActiveItem' 
                            style='{{#colorsObj.cssClassElements.sidebarActiveItem }} {{attribute}}:{{value}};{{/colorsObj.cssClassElements.sidebarActiveItem}}' 
                            {{/ifEquals}}
                            href="/tagger" class='navbarItem'>tagger.site</a>
                    </li>
                    
                    <!-- Unix Timestamp Converter 
                    <li>
                        <a {{#ifEquals unix 'active'}}
                            class='sidebarActiveItem' style='{{#colorsObj.cssClassElements.sidebarActiveItem }} {{attribute}}:{{value}};{{/colorsObj.cssClassElements.sidebarActiveItem}}' 
                            {{/ifEquals}}
                            href="/unix" class='navbarItem'>Unix Timestamp Converter</a>
                    </li>
                    -->

                    <!-- RenderTune -->
                    <li>
                        <a {{#ifEquals RenderTune 'active'}}
                            class='sidebarActiveItem' style='{{#colorsObj.cssClassElements.sidebarActiveItem }} {{attribute}}:{{value}};{{/colorsObj.cssClassElements.sidebarActiveItem}}'
                            {{/ifEquals}}
                            href="/RenderTune" class='navbarItem'>RenderTune</a>
                    </li>
                    
                    <!-- audio-archiver 
                    <li>
                        <a {{#ifEquals audioarchiver 'active'}}
                            class='sidebarActiveItem' style='{{#colorsObj.cssClassElements.sidebarActiveItem }} {{attribute}}:{{value}};{{/colorsObj.cssClassElements.sidebarActiveItem}}'
                            {{/ifEquals}}
                            href="/audio-archiver" class='navbarItem'>audio-archiver</a>
                    </li>
                    -->

                    <!-- audio-archiver --> 
                    <li>
                        <a {{#ifEquals audioarchiver 'active'}}
                            class='sidebarActiveItem' style='{{#colorsObj.cssClassElements.sidebarActiveItem }} {{attribute}}:{{value}};{{/colorsObj.cssClassElements.sidebarActiveItem}}'
                            {{/ifEquals}}
                            href="https://github.com/MartinBarker/vinyl2digital" class='navbarItem'>Vinyl2Digital</a>
                    </li>

                    <!-- popularify.site -->
                    <li>
                        <a {{#ifEquals popularify 'active'}}
                            class='sidebarActiveItem' style='{{#colorsObj.cssClassElements.sidebarActiveItem }} {{attribute}}:{{value}};{{/colorsObj.cssClassElements.sidebarActiveItem}}'
                            {{/ifEquals}}
                            href="/popularify" class='navbarItem'>Popularify</a>

                    </li>
                    
                </ul>
            </li>

            <!-- blog dropdown -->
            <li>
                <a href="#blogSubmenu" data-toggle="collapse" class="dropdown-toggle" {{#ifEquals blog 'active'}}
                    aria-expanded="true" {{/ifEquals}} {{#ifEquals blog null}} aria-expanded="false" {{/ifEquals}}>Blog
                </a>
                <!-- blog posts -->
                <ul class="collapse list-unstyled 
                    {{#ifEquals blog 'active'}}
                        show
                    {{/ifEquals}} 
                " id="blogSubmenu">


                    {{#each posts}} 
                    
                        <a 
                            class='navbarItem {{#ifEquals activeTab 'true'}}sidebarActiveItem{{/ifEquals}}'
                                {{#if activeTab}}
                                    style='background: {{activeTabColor}}; color: {{activeTabTextColor}};'
                                {{/if}}
                            href="/posts/{{id}}">{{title}}
                        </a>

                    {{/each}}

                  
<!--
                    {{#posts}}
                        
                        <a 
                            class='navbarItem {{#ifEquals activeTab 'true'}}sidebarActiveItem{{/ifEquals}}'
                           
                            href="/posts/{{id}}">{{title}}
                        </a>
                    {{/posts}}
-->
                </ul>
            </li>

            <!-- contact dropdown -->
            <li>
                <a href="#contactSubmenu" data-toggle="collapse" aria-expanded="false"
                    class="dropdown-toggle">Contact</a>
                <ul class="collapse list-unstyled" id="contactSubmenu">
                    <li>
                        <a href="mailto:martinbarker99@gmail.com">Email</a>
                    </li>
                    <li>
                        <a target="_blank" href="https://github.com/MartinBarker">Github</a>
                    </li>
                    <li>
                        <a target="_blank" href="https://www.linkedin.com/in/martinbarker99">LinkedIn</a>
                    </li>
                    <li>
                        <a target="_blank" href="/static/assets/pdf/Martin Barker Resume 2020.pdf">Resume</a>
                    </li>
                </ul>
            </li>


        </ul>
        </li>
        </ul>

        <!-- sidenav bottom img source info -->
        <div id="pageColorsText" class='sidebar-footer'>
            <div class="sidebar-footer imageDetails">
                <!-- refresh colors button 
                <button style="font-size:14px; cursor:pointer;" id="refreshButton">(old) Refresh colors</button> -->
                <!-- refresh colors2 button -->
                <button style="font-size:14px; cursor:pointer;" id="newRefreshButton"onclick="refreshColors('newRefreshButton')">Refresh Colors</button>
                <!-- img display -->
                <img id="colorImageDisplay" src="{{imgPath}}" style="display: block;" class="responsive" alt="image alt descr">
                <!-- img colors -->
                <div id='VibrantColor' title="Vibrant: {{Vibrant}}" class="colorBox colorBox1" style="background: {{Vibrant}}"></div>
                <div id='LightVibrantColor' title="LightVibrant: {{LightVibrant}}" class="colorBox colorBox2" style='background: {{LightVibrant}}'></div>
                <div id='DarkVibrantColor' title="DarkVibrant: {{DarkVibrant}}" class="colorBox colorBox3" style='background: {{DarkVibrant}}'></div>
                <div id='MutedColor' title="Muted: {{Muted}}" class="colorBox colorBox4" style='background: {{Muted}}'></div>
                <div id='LightMutedColor' title="LightMuted: {{LightMuted}}" class="colorBox colorBox5" style='background: {{LightMuted}}'></div>
                <div id='DarkMutedColor' title="DarkMuted: {{DarkMuted}}" class="colorBox colorBox6" style='background: {{DarkMuted}}'> </div>

            </div>

        </div>

    </nav>

    <!-- Page Content -->
    <div id="content" class='pageContentStyle' style='{{#colorsObj.cssClassElements.pageContentStyle }} {{attribute}}:{{value}};{{/colorsObj.cssClassElements.pageContentStyle}}'>


        <div class="col-sm-12">

            <div class="col">
                <div class="row pageContentTitleCardStyle" style='{{#colorsObj.cssClassElements.pageContentTitleCardStyle }} {{attribute}}:{{value}};{{/colorsObj.cssClassElements.pageContentTitleCardStyle}}'>
                    <div class="col" style=''>
                        <h1 class="widgettitle"><strong>{{pageBodyNavTitle}}</strong></h1>
                    </div>
                    <div class="w-100"></div>

                    <div class="col" style=''>
                        {{#if pageBodyNavSrc includeZero=true}}
                            <a id='hoverUrl' target="_blank" href='{{pageBodyNavSrc}}'>Github Code</a>
                        {{/if}}

                        {{#if pageBodyNavGithub includeZero=true}}
                        <a id='hoverUrl' target="_blank" href='{{pageBodyNavGithub}}'>View code for this page</a>
                        {{/if}}
                    </div>
                </div>
            </div>
            <div class="col pageContentBodyText" style='{{#colorsObj.cssClassElements.pageContentBodyText }} {{attribute}}:{{value}};{{/colorsObj.cssClassElements.pageContentBodyText}}'>
                <br>
                <br>
                <div class="row" style=' margin: auto;'>
                    {{{body}}}
                </div>

            </div>

        </div>

        {{!--
        <!--display:block; position:relative;  -->
        <div class="row" style='margin: auto; background: {{backgroundColor6}}; color: {{textColor4}}'>
            <div class="col">title</div>
            <div class="w-100"></div>
            <div class="col">github</div>
        </div>
        
        <!-- Top of Page Info -->
        <nav class="navbar navbar-expand-lg " style='background: {{backgroundColor6}}; color: {{textColor4}}'>
            <div class="container-fluid">
                <!-- page body title text -->
                <div class="row">
                    <div class="col">
                        <h1 class="widgettitle"><strong>{{pageBodyNavTitle}}</strong></h1>
                    </div>
                </div>
                <!-- page body github text -->
                <div class="row">
                    <a target="_blank" href='{{pageBodyNavGithub}}'>Github</a>
                </div>
            </div>
        </nav>
        
        <div style='margin: auto;' >
            {{{body}}}
        </div>
        --}}

    </div>
</div>

<script type="text/javascript">
    //get initial load css data
    var colorsObjStr='{{colorsStr}}';
    //console.log('colorsObjStr=', colorsObjStr)
    var colorsObj = JSON.parse(colorsObjStr.replace(/&quot;/g,'"'));
    //set initial hover Color
    setHoverColor(colorsObj.hoverColors)

    async function setHoverColor(cssValues) {
        var sheet = document.createElement('style')
        //create css style rule for on-hover tab and on hover github url
        let innerHTMLHoverColorStyle = `
            /* hoverUrl hover */
            #hoverUrl:hover{
                color:${cssValues.hoverUrl1}; 
            }
            .hoverURLClass:hover{
                color:${cssValues.hoverUrl1}; 
            }
            .hoverURLClassBody:hover{
                color:${cssValues.hoverUrl2};      
            }
            #sidebar ul li a:hover { 
                background: ${cssValues.sidebarHoverColor}; 
                color: ${cssValues.sidebarHoverText};           
            } `;
        sheet.innerHTML = innerHTMLHoverColorStyle
        document.head.appendChild(sheet);
    }

    async function setColors(colors) {
        let imgPath = colors.imgPath

        //remove pre-existing colors css
        if(document.createElement('style')){
            //color style already exists so delete it
            var elem = document.querySelector('#style');
            elem.parentNode.removeChild(elem);
        }

        //create new colors css
        var sheet = document.createElement('style')

        //set text hover color
        let hoverColor = `{{Vibrant}}`;
        let innerHTMLHoverColorStyle = `#sidebar ul li a:hover { background: ${hoverColor}; } `;
        sheet.innerHTML = innerHTMLHoverColorStyle
        document.head.appendChild(sheet);

        let innerHTMLStyle = `

        /* main page body background color solid
        body { background: red; } */

        /* sidebar_header_background_color 
        #sidebarTop {background: ${colors.colors['LightMuted']};}   */ 

        /* sidebar_background_color 
        #sidebar { background: linear-gradient(0deg, ${colors.colors['LightVibrant']}, ${colors.colors['Muted']}); } */

        /* active tab color 
        #currentPage { background: ${colors.colors['LightVibrant']}; } */

        /* main page body background color gradient 
        body { background: linear-gradient(2deg, color3_hex, color6_hex);} */ 

        /* ul ul a { expanded tab background color 
        .sideBarOption { background: ${colors.colors['Muted']}; }  */

        /* sidebar hover color */
        #sidebar ul li a:hover { background: ${colors.colors['DarkVibrant']}; } `;

        //console.log("innerHTMLStyle = ", innerHTMLStyle)
        //sheet.innerHTML = innerHTMLStyle 
        //document.head.appendChild(sheet);
    }

    function invertColor(hex) {
        if (hex.indexOf('#') === 0) {
            hex = hex.slice(1);
        }
        // convert 3-digit hex to 6-digits.
        if (hex.length === 3) {
            hex = hex[0] + hex[0] + hex[1] + hex[1] + hex[2] + hex[2];
        }
        if (hex.length !== 6) {
            throw new Error('Invalid HEX color.');
        }
        // invert color components
        var r = (255 - parseInt(hex.slice(0, 2), 16)).toString(16),
            g = (255 - parseInt(hex.slice(2, 4), 16)).toString(16),
            b = (255 - parseInt(hex.slice(4, 6), 16)).toString(16);
        // pad each with zeros and return
        return '#' + padZero(r) + padZero(g) + padZero(b);
    }

    function padZero(str, len) {
        len = len || 2;
        var zeros = new Array(len).join('0');
        return (zeros + str).slice(-len);
    }

    //rgb to hex 
    function componentToHex(c) {
        var hex = c.toString(16);
        return hex.length == 1 ? "0" + hex : hex;
    }

    function rgbToHex(color) {
        //color = string like rgb(a,b,c)
        //remove string parts
        color = color.substring(4, color.length - 1);
        //turn into arr
        color = color.split(',');

        return "#" + componentToHex(parseInt(color[0])) + componentToHex(parseInt(color[1])) + componentToHex(parseInt(color[2]));
    }

    //setup image modal popup
    imageModalSetup()

    async function imageModalSetup() {

        // Get the modal
        var modal = document.getElementById("imageModal");

        // Get the image and insert it inside the modal - use its "alt" text as a caption
        var img = document.getElementById("colorImageDisplay");

        //make image visible
        img.style.display = "block";
        var modalImg = document.getElementById("img01");
        var captionText = document.getElementById("caption");
        img.onclick = function () {
            modal.style.display = "block";
            modalImg.src = this.src;
            //captionText.innerHTML = this.alt;
        }


        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            $('#imageModal').fadeOut(500);
        }
    }

    async function waitSeconds(iMilliSeconds) {
        return new Promise(async function (resolve, reject) {
            var counter= 0
                , start = new Date().getTime()
                , end = 0;
            while (counter < iMilliSeconds) {
                end = new Date().getTime();
                counter = end - start;
            }
            resolve();
        })
    }

    async function refreshColors(buttonId){
        //disable button
        document.getElementById(buttonId).disabled = true;
        //change button text
        document.getElementById(buttonId).innerText = "Refreshing...";

        //get new colorData and update display
        let colorData = await refreshPageColors();

        //enable button
        document.getElementById(buttonId).disabled = false;
        //change button text
        document.getElementById(buttonId).innerText = "Refresh Colors";
    }

    async function refreshPageColors(){
        return new Promise(async function (resolve, reject) {
            //get new page color data
            let colorData = await getColors();

            //for each class to set:
            for (const [key, value] of Object.entries(colorData.cssClassElements)) {
                console.log(`colorData ${key}: value=`, value);
                if(String(key)=='hovers'){
                    setHoverColor(value) 
                }else{
                    //set all elements with class=key to have style=value
                    let cssValueStr = '';
                    for(var x = 0; x < value.length; x++){
                        $(`.${key}`).css(value[x]['attribute'], value[x]['value']);
                    }
                }
            }
            //update image colors
            for (const [key, value] of Object.entries(colorData.colors)) {
                document.querySelector(`#${key}Color`).title=`${key}:${value}`;
                $(`#${key}Color`).css('background', value);
            }
            //update image display
            document.querySelector("#colorImageDisplay").src = `/${colorData.imgPath}`;

            //update hover color
            setHoverColor(colorData.hoverColors)

            resolve();
        });

    }

    $(document).ready(function () {

        //if refresh colors button 2 is clicked
        //const refreshButton = document.getElementById('refreshButton2');
        //refreshButton.addEventListener('click', refreshPage)

        //if clicking outside modal, close modal
        $(document).click(function (e) {
            if ($(e.target).is('#imageModal')) {
                $('#imageModal').fadeOut(500);
            }
        });

        //on escape key click, close modal
        $(document).keydown(function (event) {
            if (event.keyCode == 27) {
                $('#imageModal').fadeOut(500);
            }
        });

        //side bar collapse event
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
        });

    });

    //make request to colors backend
    async function getColors() {
        return new Promise(async function (resolve, reject) {
            $.ajax({
                type: 'POST',
                url: '/getColors',
                data: {
                    type: "varValue",
                },
            }).then((data) => {
                resolve(data)
            }).catch((err) => {
                reject(err)
            });
        })
    }

</script>

</html>